<%= link_to artwork_path(artwork) do %>
        <div class="card bg-dark text-white" style="background-image: linear-gradient(rgba(0,0,0,0.01),rgba(0,0,0,0.4)), url(<%= cl_image_path artwork.photo.key %>)">
        <span class="position-absolute badge rounded-pill bg-primary m-1"><%= artwork.category %></span>
          <div class="card-img-overlay d-flex justify-content-between align-items-end">
              <div>
              <h4 class="card-title"><%= artwork.title %><h4>
              <h5 class="card-product-location"><i class="fas fa-map-marker-alt mr-2"></i><%= artwork.location %></h5>
              </div>
            <p class="card-text"><span class="card-price"><%= artwork.price %></span>€ / Day</p>
          </div>
      </div>
<% end %>
