

<div class="mt-5">
<%= simple_form_for [artwork] do |f| %>
<% locations = ['Madrid', 'Paris', 'New York', 'Santiago']%>
<% categories = ['Sculpture', 'Painting', 'Art Installation', 'Immersive Art'] %>
  <div>
  <%= f.input :title, placeholder: 'Artwork title', error: 'Please name your artwork', class: 'input-style' %>
  <%= f.input :category, collection: categories, placeholder: 'Choose a category', class: 'input-style' %>
  <%= f.input :price, placeholder: '€', class: 'input-style' %>
  <%= f.input :location, collection: locations, placeholder: 'Choose your city', class: 'input-style' %>
  <%= f.input :description, placeholder: 'Type a short description', class: 'input-style' %>
  <%= f.input :photo, label: 'Upload a nice picture of your artwork', as: :file %>
  </div>
  <div>
  <%= f.button :submit, class: "btn btn-outlined" %>
  </div>
<% end %>
</div>
