<div class="container">

<h1>My Requests</h1>
<% @requests.each do |request| %>
<div class="card-product">
  <%= cl_image_tag request.artwork.photo.key %>
  <div class="card-product-infos">
    <h1><%= request.artwork.title %></h1>
      <h5><%= request.artwork.description %></h5>
  </div>
</div>

<% end %>
<h2>My Artworks</h2>
  <% @my_artworks.each do |artwork| %>
  <div class="cardoffer-product">
    <%= cl_image_tag artwork.photo.key %>
    <div class="cardoffer-product-infos">
      <h1><%= artwork.title %></h1>
        <h5><%= artwork.description %></h5>
    </div>
  </div>
<% end %>

</div>
